name: Build-Test-Deploy .NET API

on:
  push:
    branches:
      - master

jobs:
  build-test-deploy:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore api06.sln

    - name: Build
      run: dotnet build api06.sln --configuration Release --no-restore

    - name: Run MSTest
      run: dotnet test api06Test/api06Test.csproj --no-build --verbosity normal

    - name: Publish
      run: dotnet publish api06.sln -c Release -o publish

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: api06
        package: publish
